<div class="flex items-center justify-between border-b-2 border-gray-200">
    <h1 class="items-start text-right text-xl font-bold uppercase">
        Form {{ this.action }} Line
    </h1>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="form" (submit)="doAction()" autocomplete="off">
    <mat-dialog-content class="px-0">
        <div *ngIf="action != 'Delete'; else elseTemplate" class="space-y-0">
            <div class="gt-xs:flex-row flex">
                <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Line Name</mat-label>
                    <input
                        matInput
                        formControlName="name"
                        [placeholder]="'Line..'"
                        trim="blur"
                        oninput="this.value = this.value.toUpperCase()"
                        value="{{ this.local_data.name }}"
                        cdkFocusInitial
                    />
                    <mat-error
                        *ngIf="f['name'].errors && f['name'].errors['required']"
                    >
                        You must enter a value
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['name'].errors && f['name'].errors['minlength']
                        "
                    >
                        Min 5 Character
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['name'].errors &&
                            f['name'].errors['alreadyExists']
                        "
                    >
                        The name already exist
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="gt-xs:flex-row flex">
                <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Alias</mat-label>
                    <input
                        class="capitalize"
                        matInput
                        formControlName="alias"
                        [placeholder]="'Alias..'"
                        trim="blur"
                        oninput="this.value = this.value.toUpperCase()"
                        value="{{ this.local_data.alias }}"
                    />
                    <mat-error
                        *ngIf="
                            f['alias'].errors && f['alias'].errors['required']
                        "
                    >
                        You must enter a value
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['alias'].errors && f['alias'].errors['minlength']
                        "
                    >
                        Min 2 Character
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['alias'].errors &&
                            f['alias'].errors['alreadyExists']
                        "
                    >
                        The Alias already exist
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="gt-xs:flex-row flex">
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Status</mat-label>
                    <mat-select
                        name="status"
                        formControlName="status"
                        [placeholder]="'--Please Choice--'"
                    >
                        <mat-option>--Please Choice--</mat-option>
                        <mat-option
                            *ngFor="let dataStatus of selectStatus"
                            [value]="dataStatus.id"
                        >
                            {{ dataStatus.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                            f['status'].errors && f['status'].errors['required']
                        "
                    >
                        You must choice one
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <ng-template #elseTemplate>
            <div class="-mt-2 mb-2 flex w-full flex-col">
                <span
                    ><strong
                        class="rounded-sm px-2 py-1 font-normal text-gray-800"
                        >Are you sure to delete :
                    </strong></span
                >
                <div class="mb-4 mt-2 flex w-full items-center justify-center">
                    <h3
                        class="rounded-xl bg-black px-4 py-1 text-2xl font-extrabold text-indigo-50"
                    >
                        {{ local_data.name }} ?
                    </h3>
                </div>
            </div>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="-mt-4">
        <button
            mat-raised-button
            type="reset"
            color="warn"
            (click)="closeDialog()"
        >
            <mat-icon>cancel</mat-icon>
            CANCEL
        </button>
        <button
            [disabled]="
                action == 'Delete' ? false : !(form.valid && form.dirty)
            "
            class="ml-6"
            mat-raised-button
            color="primary"
            type="submit"
            cdkFocusInitial
        >
            <mat-icon>save</mat-icon>
            {{ action != 'Delete' ? 'SAVE' : 'DELETE' }}
        </button>
    </mat-dialog-actions>
</form>
