<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col px-4 py-4 sm:flex-row sm:items-center sm:justify-between md:px-4"
    >
        <div class="text-3xl font-extrabold tracking-tight text-emerald-950">
            PART
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div
            class="mx-4 flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <div class="flex w-full items-center justify-between pl-0.5">
                <app-search-input
                    placeholder="Search..."
                    (search)="applyFilter($event)"
                ></app-search-input>

                <div class="flex justify-between py-1">
                    <app-paginate-take
                        (limitChanged)="changeLimit($event)"
                    ></app-paginate-take>
                </div>
                <div class="group relative space-x-2">
                    <button
                        mat-mini-fab
                        color="primary"
                        matTooltip="Add Data"
                        matTooltipPosition="above"
                        (click)="openDialog('Add', {})"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                    <button
                        mat-mini-fab
                        color="warn"
                        matTooltip="Upload Excel"
                        matTooltipPosition="above"
                        (click)="openDialog('Upload', {})"
                    >
                        <mat-icon>upload</mat-icon>
                    </button>
                    <button
                        mat-mini-fab
                        color="accent"
                        matTooltip="Export Excel"
                        matTooltipPosition="above"
                        (click)="exportToExcel()"
                    >
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
            <div class="relative overflow-x-auto pb-1">
                <table
                    class="datatable w-full"
                    id="excel-table"
                    matSort
                    (matSortChange)="sortData($event)"
                    matSortActive="{{ tblName }}.updated_at"
                    matSortDirection="desc"
                    matSortDisableClear
                >
                    <thead>
                        <tr>
                            <th class="w-5">#</th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.part_no"
                            >
                                PART NO
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.part_name"
                            >
                                PART NAME
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.supplier"
                            >
                                SUPPLIER
                            </th>
                            <th
                                class="w-12 text-left"
                                mat-sort-header="{{ tblName }}.status"
                            >
                                STATUS
                            </th>
                            <th class="w-12">
                                <mat-icon
                                    svgIcon="heroicons_outline:cursor-arrow-ripple"
                                ></mat-icon>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngIf="this.total == 0">
                            <td
                                colspan="6"
                                class="h-10 text-lg font-medium text-rose-700"
                            >
                                No Data Avalaible
                            </td>
                        </tr>
                        @for (data of datas; track $index) {
                            <tr class="">
                                <td>
                                    {{
                                        $index +
                                            1 +
                                            (this.page - 1) * this.pageSize
                                            | number: '0.0-0'
                                    }}
                                </td>
                                <td class="text-left">{{ data.part_no }}</td>
                                <td class="text-left">{{ data.part_name }}</td>
                                <td class="text-left">{{ data.supplier }}</td>
                                <td class="text-left">
                                    <button
                                        [class]="
                                            getStatus(data.status).color +
                                            ' rounded-md px-4 py-1 text-white'
                                        "
                                    >
                                        {{ getStatus(data.status).text }}
                                    </button>
                                </td>
                                <td>
                                    <a
                                        href="javascript:void(0)"
                                        (click)="openDialog('Update', data)"
                                        title="Edit"
                                    >
                                        <mat-icon color="primary"
                                            >edit_note</mat-icon
                                        >
                                    </a>
                                    &nbsp;&nbsp;
                                    <a
                                        href="javascript:void(0)"
                                        (click)="openDialog('Delete', data)"
                                        title="Delete"
                                    >
                                        <mat-icon color="warn"
                                            >delete_outline</mat-icon
                                        >
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="flex w-full items-center justify-between">
                <app-paginate
                    [last_page]="this.last_page"
                    (pageChanged)="load($event)"
                ></app-paginate>
                <div class="">
                    <span
                        >Showing
                        <span class="font-bold">{{
                            this.pageSize * (this.page - 1) + 1
                        }}</span>
                        to
                        <span class="font-bold">{{
                            this.pageSize * this.page > this.total
                                ? this.total
                                : this.pageSize * this.page
                        }}</span>
                        off
                        <span class="font-bold">{{
                            this.total | number: '0.0-0'
                        }}</span>
                        Entries
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
