<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col px-4 py-4 sm:flex-row sm:items-center sm:justify-between md:px-4"
    >
        <div class="text-3xl font-extrabold tracking-tight text-emerald-950">
            PRODUCTION PART CONSUME
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div
            class="mx-4 flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <form [formGroup]="form" (submit)="submit()" autocomplete="off">
                <div class="flex w-full flex-wrap items-center gap-2 px-0.5">
                    <mat-form-field
                        class="-mb-6 w-full sm:w-auto lg:min-w-[150px] xl:min-w-[180px]"
                        floatLabel="always"
                    >
                        <mat-label>Line</mat-label>
                        <mat-select
                            formControlName="line"
                            [placeholder]="'--Please Choice--'"
                        >
                            <mat-option>--Please Choice--</mat-option>
                            @for (item of line; track $index) {
                                <mat-option [value]="item.id">
                                    {{ item.name }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field
                        class="-mb-6 w-full sm:w-auto lg:min-w-[150px] xl:min-w-[180px]"
                        floatLabel="always"
                    >
                        <mat-label>Part No</mat-label>
                        <input
                            matInput
                            formControlName="part_no"
                            [placeholder]="'Part Number..'"
                            trim="blur"
                        />
                    </mat-form-field>

                    <mat-form-field
                        class="-mb-6 w-full sm:w-auto lg:min-w-[150px] xl:min-w-[180px]"
                        floatLabel="always"
                    >
                        <mat-label>Part Name</mat-label>
                        <input
                            matInput
                            formControlName="part_name"
                            [placeholder]="'Part Name..'"
                            trim="blur"
                        />
                    </mat-form-field>

                    <mat-form-field
                        class="-mb-6 w-full sm:w-auto lg:min-w-[120px] xl:min-w-[180px]"
                        floatLabel="always"
                    >
                        <mat-label>Supplier</mat-label>
                        <input
                            matInput
                            formControlName="supplier"
                            [placeholder]="'Supplier..'"
                            trim="blur"
                        />
                    </mat-form-field>

                    <mat-form-field
                        class="-mb-6 w-full sm:w-auto lg:min-w-[150px] xl:min-w-[180px]"
                        floatLabel="always"
                    >
                        <mat-label>Date From :</mat-label>
                        <input
                            matInput
                            type="date-local"
                            [matDatepicker]="startDatepicker"
                            formControlName="start"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="startDatepicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #startDatepicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field
                        class="-mb-6 w-full sm:w-auto lg:min-w-[150px] xl:min-w-[180px]"
                        floatLabel="always"
                    >
                        <mat-label>Date End:</mat-label>
                        <input
                            matInput
                            type="date-local"
                            [matDatepicker]="endDatepicker"
                            formControlName="end"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="endDatepicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #endDatepicker></mat-datepicker>
                    </mat-form-field>

                    <button
                        mat-raised-button
                        type="submit"
                        color="primary"
                        class="-mb-6 mt-4 flex w-full min-w-[100px] items-center justify-center gap-2 sm:mt-0 sm:w-auto"
                    >
                        <mat-icon>search</mat-icon>
                        FILTER
                    </button>
                </div>
            </form>
            <div
                class="mt-10 flex w-full items-center justify-between pl-0.5 sm:mt-4"
            >
                <app-search-input
                    placeholder="Search..."
                    (search)="applyFilter($event)"
                ></app-search-input>

                <div class="flex justify-between py-1">
                    <app-paginate-take
                        (limitChanged)="changeLimit($event)"
                    ></app-paginate-take>
                </div>
                <div class="group relative space-x-2">
                    <button
                        mat-mini-fab
                        color="accent"
                        matTooltip="Export Excel"
                        matTooltipPosition="above"
                        (click)="exportToExcel()"
                    >
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
            <div class="relative overflow-x-auto pb-1">
                <table
                    class="datatable w-f h-fit"
                    id="excel-table"
                    matSort
                    (matSortChange)="sortData($event)"
                    matSortActive="p.part_no"
                    matSortDirection="asc"
                    matSortDisableClear
                >
                    <thead class="with-border sticky top-0 z-10">
                        <tr>
                            <th rowspan="2" class="w-8">#</th>
                            <th
                                rowspan="2"
                                class=""
                                mat-sort-header="p.part_no"
                            >
                                PART NO
                            </th>
                            <th
                                rowspan="2"
                                class="text-left"
                                mat-sort-header="p.part_name"
                            >
                                PART NAME
                            </th>
                            <th
                                rowspan="2"
                                class="text-left"
                                mat-sort-header="p.supplier"
                            >
                                SUPPLIER
                            </th>
                            <ng-container
                                *ngFor="let date of dateRange; let i = index"
                            >
                                <th colspan="2" class="text-center">
                                    {{ date | date: 'd MMM' }}
                                </th>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container
                                *ngFor="let date of dateRange; let i = index"
                            >
                                <th class="text-left">D</th>
                                <th class="text-left">N</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngIf="this.total == 0">
                            <td
                                [attr.colspan]="dateRange.length * 2 + 4"
                                class="h-10 text-lg font-medium text-rose-700"
                            >
                                No Data Avalaible
                            </td>
                        </tr>
                        @for (data of datas; track $index) {
                            <tr class="">
                                <td>
                                    {{
                                        $index +
                                            1 +
                                            (this.page - 1) * this.pageSize
                                            | number: '0.0-0'
                                    }}
                                </td>
                                <td class="text-left capitalize">
                                    {{ data.part_no }}
                                </td>
                                <td class="text-left">{{ data.part_name }}</td>
                                <td class="text-left">{{ data.supplier }}</td>
                                <ng-container
                                    *ngFor="
                                        let date of dateRange;
                                        let i = index
                                    "
                                >
                                    <td class="text-center">
                                        {{ data[getDateKey(date, 'day')] }}
                                    </td>
                                    <td class="text-center">
                                        {{ data[getDateKey(date, 'night')] }}
                                    </td>
                                </ng-container>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div
                class="flex w-full flex-col items-center justify-between gap-2 sm:flex-row sm:gap-0"
            >
                <app-paginate
                    [last_page]="this.last_page"
                    (pageChanged)="load($event)"
                ></app-paginate>
                <div class="">
                    <span
                        >Showing
                        <span class="font-bold">{{
                            this.pageSize * (this.page - 1) + 1
                        }}</span>
                        to
                        <span class="font-bold">{{
                            this.pageSize * this.page > this.total
                                ? this.total
                                : this.pageSize * this.page
                        }}</span>
                        off
                        <span class="font-bold">{{
                            this.total | number: '0.0-0'
                        }}</span>
                        Entries
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
