.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    min-height: 40px;
}


table {
    thead {
        tr {
            .mat-sort-header-stem {
                color: #fff;
                background-color: #fff;
            }
        }
    }

    tbody {
        tr {
            td {

                a {
                    width: 1rem;
                }

                span {
                    padding: 0.3rem;
                    color: #fff;
                    font-weight: 500;
                    border-radius: 0.125rem;
                }

                svg {
                    width: 1.5rem;
                }
            }
        }
    }
}