<div class="flex items-center justify-between border-b-2 border-gray-200">
    <h1 class="items-start text-right text-xl font-bold uppercase">
        Form Upload Part
    </h1>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="px-0">
    <input
        type="file"
        (change)="onFileChange($event)"
        accept=".xlsx, .xls"
        class="w-full cursor-pointer rounded bg-gray-100 text-base font-medium text-slate-500 file:mr-4 file:cursor-pointer file:border-0 file:bg-gray-800 file:px-4 file:py-2.5 file:text-white file:hover:bg-gray-700"
    />

    <div *ngIf="uploadProgress !== null">
        <p>Uploading: {{ uploadProgress }}%</p>
        <progress [value]="uploadProgress" max="100"></progress>
    </div>

    <div *ngIf="insertedCount !== null">
        <p>Upload completed! ✅ {{ insertedCount }} records inserted.</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="-mt-4">
    <button mat-raised-button type="reset" color="warn" (click)="closeDialog()">
        <mat-icon>cancel</mat-icon>
        CANCEL
    </button>
    <button
        class="ml-6"
        mat-raised-button
        color="primary"
        type="submit"
        cdkFocusInitial
        (click)="uploadFile()"
        [disabled]="!selectedFile"
    >
        <mat-icon>upload</mat-icon> UPLOAD
    </button>
</mat-dialog-actions>
