<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Consumo Redirect Request" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
        </conditions>
        <action type="Rewrite" url="/consumo/" />
        </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
