<div class="flex h-full w-full flex-col p-4 print:hidden">
    <!-- Toolbar -->
    <div
        class="mb-4 flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between"
    ></div>
    <!-- Grid -->
    <div class="min-h-[400px] flex-1">
        <ag-grid-angular
            class="ag-theme-alpine h-full w-full"
            style="width: 100%; height: 500px"
            [rowModelType]="'infinite'"
            [pagination]="true"
            [paginationPageSize]="50"
            [cacheBlockSize]="150"
            [columnDefs]="colDefs"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular
        >`
    </div>
</div>
