/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
// .mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
//     min-height: 40px;
// }

// * {
//     scrollbar-width: auto;
//     scrollbar-color: rgb(14, 131, 92) rgb(211, 208, 201);
// }

// table.datatable {
//     @apply w-full border-collapse border border-gray-300;

//     thead {
//         @apply border-collapse border border-emerald-700 bg-emerald-700 text-sm font-bold tracking-wider text-white;

//         &.with-border {
//             tr {
//                 th {
//                     border: 1px solid #ccc7c7;
//                 }
//             }
//         }

//         tr {
//             th {
//                 @apply border-none p-4 md:p-3 text-[15px] capitalize;



//                 svg {
//                     @apply w-5 text-white;
//                 }
//             }

//             .mat-sort-header-stem {
//                 color: #fff;
//                 background-color: #fff;
//             }

//             .mat-sort-header-pointer-left,
//             .mat-sort-header-pointer-right {
//                 color: #fff;
//                 background-color: #fff;
//             }

//             .mat-sort-header-pointer-middle {
//                 color: #fff;
//                 background-color: #fff;
//             }
//         }
//     }

//     tbody {
//         @apply divide-y divide-gray-200;

//         tr {
//             @apply odd:bg-gray-100 even:bg-gray-300;

//             td {
//                 @apply whitespace-nowrap p-1 text-center text-[14px] md:p-1;
//             }
//         }
//     }
// }

@media print {
    #print-section {
        visibility: visible;
        width: 100%;
        // position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}