#print-section {
    display: none;
}

@media print {
    body * {
        visibility: hidden;
    }

    #print-section {
        display: block;
        visibility: visible;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}