<div class="flex items-center justify-between border-b-2 border-gray-200">
    <h1 class="items-start text-right text-xl font-bold uppercase">
        Form {{ this.action }} Part
    </h1>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="form" (submit)="doAction()" autocomplete="off">
    <mat-dialog-content class="px-0">
        <div
            *ngIf="
                action === 'Add' || action === 'Update' || action === 'Read';
                else elseTemplate
            "
            class="space-y-0"
        >
            <div class="gt-xs:flex-row flex">
                <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Line Name</mat-label>
                    <input
                        matInput
                        formControlName="part_no"
                        [placeholder]="'Part Number..'"
                        trim="blur"
                        oninput="this.value = this.value.toUpperCase()"
                        value="{{ this.local_data.part_no }}"
                        cdkFocusInitial
                    />
                    <mat-error
                        *ngIf="
                            f['part_no'].errors &&
                            f['part_no'].errors['required']
                        "
                    >
                        You must enter a value
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['part_no'].errors &&
                            f['part_no'].errors['minlength']
                        "
                    >
                        Min 11 Character
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['part_no'].errors &&
                            f['part_no'].errors['alreadyExists']
                        "
                    >
                        The Part Number already exist
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="gt-xs:flex-row flex">
                <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Part Name</mat-label>
                    <input
                        class="capitalize"
                        matInput
                        formControlName="part_name"
                        [placeholder]="'Part Name..'"
                        trim="blur"
                        value="{{ this.local_data.part_name }}"
                    />
                    <mat-error
                        *ngIf="
                            f['part_name'].errors &&
                            f['part_name'].errors['required']
                        "
                    >
                        You must enter a value
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['part_name'].errors &&
                            f['part_name'].errors['minlength']
                        "
                    >
                        Min 4 Character
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="gt-xs:flex-row flex">
                <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Supplier</mat-label>
                    <input
                        class="capitalize"
                        matInput
                        formControlName="supplier"
                        [placeholder]="'Supplier..'"
                        trim="blur"
                        value="{{ this.local_data.supplier }}"
                    />
                    <mat-error
                        *ngIf="
                            f['supplier'].errors &&
                            f['supplier'].errors['required']
                        "
                    >
                        You must enter a value
                    </mat-error>
                    <mat-error
                        *ngIf="
                            f['supplier'].errors &&
                            f['supplier'].errors['minlength']
                        "
                    >
                        Min 4 Character
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="gt-xs:flex-row flex">
                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Status</mat-label>
                    <mat-select
                        name="status"
                        formControlName="status"
                        [placeholder]="'--Please Choice--'"
                    >
                        <mat-option>--Please Choice--</mat-option>
                        <mat-option
                            *ngFor="let dataStatus of selectStatus"
                            [value]="dataStatus.id"
                        >
                            {{ dataStatus.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                            f['status'].errors && f['status'].errors['required']
                        "
                    >
                        You must choice one
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <ng-template #elseTemplate>
            <div
                *ngIf="action === 'Delete'; else uploadTemplate"
                class="-mt-2 mb-2 flex w-full flex-col"
            >
                <span
                    ><strong
                        class="rounded-sm px-2 py-1 font-normal text-gray-800"
                        >Are you sure to delete :
                    </strong></span
                >
                <div class="mb-4 mt-2 flex w-full items-center justify-center">
                    <h3
                        class="rounded-xl bg-black px-4 py-1 text-2xl font-extrabold text-indigo-50"
                    >
                        Part Nomor : {{ local_data.part_no }} ?
                    </h3>
                </div>
            </div>
        </ng-template>
        <ng-template #uploadTemplate>
            <div class="">
                <input
                    type="file"
                    id="fileInput"
                    (change)="onFileChange($event)"
                    accept=".xlsx, .xls"
                    class="w-full cursor-pointer rounded bg-gray-100 text-base font-medium text-slate-500 file:mr-4 file:cursor-pointer file:border-0 file:bg-emerald-800 file:px-4 file:py-2.5 file:text-white file:hover:bg-emerald-700"
                />

                <div *ngIf="uploadProgress !== null" class="">
                    <p>Uploading File: {{ uploadProgress }}%</p>
                    <progress
                        [value]="uploadProgress"
                        max="100"
                        class="w-full"
                    ></progress>
                </div>
                <div *ngIf="isLoading" class="loading-overlay">
                    <p>Processing data... Please wait</p>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>

                <div *ngIf="insertedCount !== null" class="mt-2">
                    <p>
                        Upload completed!
                        <b class="text-emerald-600">{{ insertedCount }}</b>
                        records inserted.
                    </p>
                </div>

                <div *ngIf="errorMessage !== null" class="error-message">
                    <p>Error: {{ errorMessage }}</p>
                </div>

                <div (click)="downloadTemplate()" class="mt-2 cursor-pointer">
                    <p>Download File Template:</p>
                    <div class="">
                        <div class="flex h-full items-start justify-start">
                            <!-- Icons -->
                            <div class="relative">
                                <mat-icon
                                    class="text-hint opacity-50 icon-size-14"
                                    [svgIcon]="'heroicons_solid:document'"
                                ></mat-icon>
                                <div
                                    class="absolute bottom-0 left-0 rounded bg-green-600 px-1.5 text-sm font-semibold leading-5 text-white"
                                >
                                    XLSX
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="-mt-4">
        <button
            mat-raised-button
            type="reset"
            color="warn"
            (click)="closeDialog()"
        >
            <mat-icon>cancel</mat-icon>
            {{ action === 'Upload' ? 'Closed' : 'CANCEL' }}
        </button>
        <button
            [disabled]="
                action === 'Delete'
                    ? false
                    : action === 'Upload'
                      ? !selectedFile
                      : !(form.valid && form.dirty)
            "
            class="ml-6"
            mat-raised-button
            color="primary"
            [type]="action === 'Upload' ? null : 'submit'"
            (click)="action === 'Upload' ? uploadFile() : null"
        >
            <mat-icon>save</mat-icon>
            {{
                action === 'Add'
                    ? 'SAVE'
                    : action === 'Update'
                      ? 'Update'
                      : action === 'Upload'
                        ? 'UPLOAD'
                        : action === 'Delete'
                          ? 'DELETE'
                          : 'SAVE'
            }}
        </button>
    </mat-dialog-actions>
</form>
