<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <div
        class="relative flex flex-0 flex-col px-4 py-4 sm:flex-row sm:items-center sm:justify-between md:px-4"
    >
        <div class="text-3xl font-extrabold tracking-tight text-emerald-950">
            QUERY PRODUCTION
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div
            class="mx-4 flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <div class="flex w-full items-center justify-between pl-0.5">
                <!-- <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Machine No</mat-label>
                    <input
                        matInput
                        [placeholder]="'Machine Number..'"
                        trim="blur"
                    />
                </mat-form-field>
                <mat-form-field [ngClass]="" class="w-full" floatLabel="always">
                    <mat-label>Machine No</mat-label>
                    <input
                        matInput
                        [placeholder]="'Machine Number..'"
                        trim="blur"
                    />
                </mat-form-field> -->
            </div>
            <div class="flex w-full items-center justify-between pl-0.5">
                <app-search-input
                    placeholder="Search..."
                    (search)="applyFilter($event)"
                ></app-search-input>

                <div class="flex justify-between py-1">
                    <app-paginate-take
                        (limitChanged)="changeLimit($event)"
                    ></app-paginate-take>
                </div>
                <div class="group relative space-x-2">
                    <!-- <button
                        mat-mini-fab
                        color="primary"
                        matTooltip="Add Data"
                        matTooltipPosition="above"
                        (click)="openDialog('Add', {})"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                    <button
                        mat-mini-fab
                        color="accent"
                        matTooltip="Export Excel"
                        matTooltipPosition="above"
                        (click)="exportToExcel()"
                    >
                        <mat-icon>download</mat-icon>
                    </button> -->
                </div>
            </div>
            <div class="relative overflow-x-auto pb-1">
                <table
                    class="datatable w-full"
                    id="excel-table"
                    matSort
                    (matSortChange)="sortData($event)"
                    matSortActive="{{ tblName }}.create"
                    matSortDirection="desc"
                    matSortDisableClear
                >
                    <thead>
                        <tr>
                            <th class="w-5">#</th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.create"
                            >
                                Create
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.working"
                            >
                                Working Day
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.shift"
                            >
                                Shift
                            </th>
                            <th class="text-left" mat-sort-header="line.id">
                                Line
                            </th>
                            <th class="text-left" mat-sort-header="area.name">
                                Area
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="machine.machine_no"
                            >
                                No. MC
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="machine.machine_name"
                            >
                                MC Name
                            </th>
                            <th class="text-left" mat-sort-header="machine.id">
                                id MC
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.uniq"
                            >
                                Uniq
                            </th>
                            <th
                                class="text-left"
                                mat-sort-header="{{ tblName }}.eg"
                            >
                                Engine Number
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (data of datas; track $index) {
                            <tr class="">
                                <td>
                                    {{
                                        $index +
                                            1 +
                                            (this.page - 1) * this.pageSize
                                            | number: '0.0-0'
                                    }}
                                </td>
                                <td class="text-left">
                                    {{ data.create }}
                                </td>
                                <td class="text-left">{{ data.working }}</td>
                                <td class="text-left">{{ data.shift }}</td>
                                <td class="text-left">{{ data.line.name }}</td>
                                <td class="text-left">
                                    {{ data.machine.area.name }}
                                </td>
                                <td class="text-left">
                                    {{ data.machine.machine_no }}
                                </td>
                                <td class="text-left">
                                    {{ data.machine.machine_name }}
                                </td>
                                <td class="text-left">{{ data.machine.id }}</td>
                                <td class="text-left">{{ data.uniq }}</td>
                                <td class="text-left">{{ data.eg }}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="flex w-full items-center justify-between">
                <app-paginate
                    [last_page]="this.last_page"
                    (pageChanged)="load($event)"
                ></app-paginate>
                <div class="">
                    <span
                        >Showing
                        <span class="font-bold">{{
                            this.pageSize * (this.page - 1) + 1
                        }}</span>
                        to
                        <span class="font-bold">{{
                            this.pageSize * this.page > this.total
                                ? this.total
                                : this.pageSize * this.page
                        }}</span>
                        off
                        <span class="font-bold">{{
                            this.total | number: '0.0-0'
                        }}</span>
                        Entries
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
